body{
	max-width: 1024px;
}
header{
	/*Color de Fondo*/
	background:   blue ; 
	/*Color de letra */
	color: white;
	/**/
	text-align: center ;
}
header nav ul li{
	background: orange ;
	border-radius: 5px ;
	color: black;
	display: inline-block;
	width: 90px;
}
header nav ul li:hover{
	background: black ; 
	color : orange ;
}