 body{
	background: #2b2b2b;
    background-color: white;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin:0px auto;
    max-width: 1024px;
}
footer{
    width: 1024px;
    color: #838383;
}
footer article{
    display: inline-block;
    vertical-align: top;  
    width: 14%;
    padding-left: 3%;
    padding-top: 20px;
    margin-left: 3px;
    /*
    display: inline-block; 
    padding-bottom: 2px;
    margin-right: 15px;
    margin-top: 70px;
    */
}
footer article p{
    font-size: 10px;
}
header{
    padding-top: 7px;
    background: white;
    border-top: 1px solid lightgray;
}
header ul li{
    /*border-bottom: 1px solid lightgray ;
    */
    color: black;
    display: inline-block; 
    padding-bottom: 2px;
    margin-right: 15px;
    margin-top: 70px;
    /*
    font-size: 1.8em;
    margin-right: 15px ;
    padding-bottom: 2px ;
    */
}
#bandera{
    position: relative;
    top:-230px;
    left: 615px; 
}
#bici{
    position: relative;
    width: 450px;
    height: 450px;
}
#comprar{
    position: relative;
    top:-70px;
    left: 630px;
}
#garantia{
    position: relative;
    top: 20px;
    left: -480px;
    width: 80px;
    height: 80px;
}
#gotoshop{
    position: relative;
    top:-140px;
    left: 630px; 
}
#logroj{
   position: relative;
    top:-230px;
    left: 610px; 
}
#mundo{
    position: relative;
    top:-230px;
    left: 620px; 
}
#seccion1{
    width: 1070px;
    margin-top: -40px;
    /*border-bottom: 1px solid lightgray ;*/
    border-top: 1px dashed gray;
}
#seccion1 article{
    display: inline-block;
    vertical-align: top;
}
#seccion1art1{
    width: 530px;
    /*height: 500px;*/
}
#seccion1art1art1{
    /*border-top: 2px dashed gray;*/
    border-bottom: 1px dashed gray ;
}
#seccion1art2{
    width: 500px;
}
#seccion3{
    margin-top: 20px;
}
#seccion3 img{
    position: relative ;
    top: 20px;
}
#video1{
    width: 250px;
    height: 200px;
}
#video2{
    width: 250px;
    height: 200px;
}
.colorAzul{
	color:#4267B3;
}
.colorBlanco{
	color:#e4e4e4;
	color: white;
}
.colorgris{
    color: #a1a1a1;
    color: #b8b5b5;
}
.colorgris2{
color: #9e9e9e;
}
.colorVerde{
	color:#acd13b;;
}
.colorRojo{
	color: #FF0099;
}
.colorosa{
	color: #FF0099;
}
.FondoBlanco{
	/*color:#acd13b;;*/
	background-color:#e7e7e7;
}
.FondoGris{
	/*color:#acd13b;;*/
	background-color:#545454;
}
.FondoNegro{
	/*color:#acd13b;;*/
	background-color:#2b2b2b;
}
.FondoRojo{
	/*color:#acd13b;;*/
	background-color:#e80038;
}
.FondoVerde{
	/*color:#acd13b;;*/
	background-color:#abd233;
}
.letragrande{
    font-size: 4em;
    font-size: 5em;
}
.letrachica{
    font-size: 0.9em;
}
.nito{
    font-weight: bold;
    font-weight: 565;
} 




