 body{
	background: #2b2b2b;
    background-color: #2b2b2b;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin:0px auto;
    max-width: 1175px;
}
footer{
    color: #838383;
}
footer article{
    display: inline-block;
    vertical-align: top;
    width: 33%;
    border-top: 1px dashed gray;
    margin-top: 17px;    
    width: 28%;
    border-top: 1.5px dashed gray;
    margin-top: 17px;
    margin-left: 11px;
    padding-left: 4%;
    padding-top: 12px;
}
header{
    padding-top: 7px;
    background: #f0f0f0;
}
header img{
    margin-top: 5px;
    /*margin-top: 5px;*/
    width: 896px;
    height: 47px;
    margin-left: 30px;
    margin-left: 53.5px;
}
header input{
    margin-top: 5px;
    float: left;
    margin-left: 35px;
    position: relative;
    width: 139px;
}
#seccion1{
    margin-top: 17px;
}
#seccion1 article{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-left: -10px;
    width: 210px;
    height: 340px;
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 8px;
    margin-left: -4.3px;
}
#seccion01art01 img{
	margin-top: -10px;
    width: 195px;
}
#seccion01art01 ul{
    list-style: none;
}
#seccion01art01 ul li{
    content: none;
    padding-top: 10px;
}
#seccion2{
    border-top: 1px solid gray;
    margin-top: 19px;
}
#seccion2 article{
    display: inline-block;
    vertical-align: top;
    width: 33%;
    margin-top: 27px;
}
#seccion2 article img{
	padding-left: 60px;
    width: 262px;
    width: 282px;
}
.colorAzul{
	color:#4267B3;
}
.colorBlanco{
	color:#e4e4e4;
	color: white;
}
.colorgris{
    color: #a1a1a1;
    color: #b8b5b5;
}
.colorgris2{
color: #9e9e9e;
}
.colorVerde{
	color:#acd13b;;
}
.colorRojo{
	color: #FF0099;
}
.colorosa{
	color: #FF0099;
}
.FondoBlanco{
	/*color:#acd13b;;*/
	background-color:#e7e7e7;
}
.FondoGris{
	/*color:#acd13b;;*/
	background-color:#545454;
}
.FondoNegro{
	/*color:#acd13b;;*/
	background-color:#2b2b2b;
}
.FondoRojo{
	/*color:#acd13b;;*/
	background-color:#e80038;
}
.FondoVerde{
	/*color:#acd13b;;*/
	background-color:#abd233;
}
.letragrande{
    font-size: 2em;
    font-size: 1.7em;
}
.letrachica{
    font-size: 0.9em;
}
.muevele{
	padding-left:220px;
}
.nito{
    font-weight: bold;
    font-weight: 565;
} 
.SpanAbajo1{
    background: #7b961dce;
    width: 9px;
    height: 18px;
    left: 754px;
    top: 394px;
    position: absolute;
    padding: 11px;
}
.SpanAbajo2{
    background: #3f3f3fda;
    width: 9px;
    height: 18px;
    left: 986px;
    top: 394px;
    position: absolute;
    padding: 11px;
}
.SpanAbajo3{
    background: #b90a1cde;
    width: 9px;
    height: 18px;
    left: 1220px;
    top: 394px;
    position: absolute;
    padding: 11px;
}
.SpanAbajo4{
    background: #c4c2c2;
    width: 9px;
    height: 18px;
    left: 1452px;
    top: 394px;
    position: absolute;
    padding: 11px;
}




